<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MyApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
  <string>Allow this app to use bluetooth to connect devices</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Allow this app to use bluetooth accessories</string>
  <key>NSCameraUsageDescription</key>
  <string>This lets you take photos and scan QR codes</string>
  <!-- <key>NSContactsUsageDescription</key>
  <string>Unified Care will add care team contact number to your address book to better help you manage your health conditions.</string> -->
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>Allow to use location for better Bluetooth connection</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Allow to use location for better Bluetooth connection</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Allow to use location for better Bluetooth connection</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>This app requires microphone access to communicate with BG1, which is plugged into the headphone/microphone jack.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Allow this app to access photo library</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
